@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CinemaSchedule.Models.ScheduleViewModel

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ProfileStyles.css" asp-append-version="true" />
</head>


<main>
    <h1>Расписание</h1>
    <label for="releaseDate">Дата:</label>
    <div class="ms-lg-0">
        <form  id="dateForm">
            <div class="ms-lg-0">
                <input class="form-control" type="date" id="date" name="Date" asp-for="Date">
            </div>
        </form>
        <script>
            document.getElementById('date').addEventListener('input', function (event) {
                var selectedDate = this.value;
                window.location.href = '/Schedule/Schedule?date=' + selectedDate;
               
            });
        </script>
    </div>
    <a class="btn btn-light" href="/Schedule/NewEvent?date=@Model.Date.ToString("yyyy-MM-dd")">Новое событие</a>
    @if(Model is not null)
    {
        <div class="timeline-container">
            <div class="venue-row">
                



        @foreach(var hall in Model.HallsSchedules)
        {
                <div class="venue-column">
                    <div class="venue">@hall.HallName</div>
                        @if(hall.Events is not null && hall.Events.Count() !=0)
                        {
                            @foreach(var Event in hall.Events)
                            {
                                @if (Event.Type == "Фильм")
                                {
                                    var durationHours = Event.Duration / 3600;
                                    var durationMinutes = (Event.Duration - durationHours * 3600) / 60;
                                    <div class="timeline-event" style="background-color: #EBECEE;">
                                        <div class="event-title">@Event.EventName</div>
                                        <div class="event-details">
                                            <div class="event-detail">Тип: фильм</div>
                                            <div class="event-detail">Начало: @Event.Begins.ToString("HH:mm")</div>
                                            <div class="event-detail">Конец: @Event.Ends.ToString("HH:mm")</div>
                                            @if(durationHours == 0)
                                            {
                                                <div class="event-detail">Продолжительность: @durationMinutes мин. </div>
                                            }
                                            else
                                            {
                                                <div class="event-detail">Продолжительность: @durationHours ч. @durationMinutes мин. </div>
                                            }
                                            <div class="button-container">
                                                <a class="button green-border" asp-controller="Schedule" asp-action="EditEvent" asp-route-id="@Event.Id">Переместить</a>
                                                <a class="button red-border" asp-action="Delete" asp-controller="Schedule" asp-route-id="@Event.Id">Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if(Event.Type == "Перерыв")
                                {
                                    var durationHours = Event.Duration / 3600;
                                    var durationMinutes = (Event.Duration - durationHours * 3600) / 60;
                                    <div class="timeline-event" style="background-color: #A9E5EB">
                                        <div class="event-title">@Event.EventName</div>
                                        <div class="event-details">
                                            @if (durationHours == 0)
                                            {
                                                <div class="event-detail">Тип: перерыв (@durationMinutes мин.)</div>
                                            }
                                            else
                                            {
                                                <div class="event-detail">Тип: перерыв (@durationHours ч. @durationMinutes мин.)</div>
                                            }
                                            <div class="event-detail">Начало: @Event.Begins.ToString("HH:mm")</div>
                                            <div class="event-detail">Конец: @Event.Ends.ToString("HH:mm")</div>

                                            <div class="button-container">
                                                <a class="button green-border" asp-controller="Schedule" asp-action="EditEvent" asp-route-id="@Event.Id">Переместить</a>
                                                <a class="button red-border" asp-action="Delete" asp-controller="Schedule" asp-route-id="@Event.Id">Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                }

                }

                        }
                        else
                        {
                            <div class="event-title"><a style="text-align:center; padding-top:5px;">Событий нет</a></div>
                            
                        }

                </div>
        }

            </div>
        </div>
    }
    else
    {
        
    }
   

</main>