@using System.Globalization
@{
}
@model CinemaSchedule.Models.MoviesViewModel

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ProfileStyles.css" asp-append-version="true" />
</head>
<main class="container">
<h1>Фильмы</h1>
    <form asp-action="Movies" class="row g-3 mb-3" id="searchForm">
        <div class="col-auto" style="width:65%">
            <label class="form-check-label" for="flexCheckDefault">Название</label>
            <input type="text" class="form-control" placeholder="Поиск фильма" name="term" asp-for="Term">
        </div>
        <div class="col-auto">
            <label class="form-check-label" for="flexCheckDefault">Начало проката</label>
            <input type="date" class="form-control"  name="startsAt" asp-for="StartsAt">
        </div>
        <div class="col-auto">
            <label class="form-check-label" for="flexCheckDefault">Конец проката</label>
            <input type="date" class="form-control" name="endsAt" asp-for="EndsAt">
        </div>

        <div class="col-auto">
            <p style="height:7px">&nbsp;</p>
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </div>
    </form>

<a class="btn btn-light" asp-controller="Movies" asp-action="AddMovie">Новый фильм</a>
<hr/>
<table class="table table-hover" style="text-align: center;">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Жанры</th>
            <th>Страны</th>
            <th>Возрастной рейтинг</th>
            <th>Продолжительность</th>
            <th>Начало проката</th>
            <th>Конец проката</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Movies.Any())
        {
            @foreach (var movie in Model.Movies)
            {
                var exploreText = movie.MovieDescription;
                var exploreTextShort = "";
                if (exploreText != null)
                {
                    if (exploreText.ToString().Length > 35)
                    {
                        exploreTextShort = exploreText.ToString().Substring(0, 35);
                        exploreTextShort = exploreTextShort + "...";
                    }
                    else { exploreTextShort = exploreText; }
                }
                <tr>
                    <td style="text-align:left">@movie.MovieName</td>
                    <td style="text-align:left">@exploreTextShort</td>
                    <td style="text-align:left">@string.Join(",\r\n", movie.checksGenres)</td>
                    <td style="text-align:left">@string.Join(",\r\n", movie.checksCountries)</td>
                    <td style="width:3%">@movie.AgeRestriction+</td>
                    @if(movie.Hours == 0)
                    {
                        <td style="text-align:left">@movie.Minutes минут (@(movie.Duration/60) минут) </td>
                    }
                    else
                    {
                        <td style="text-align:left">@movie.Hours ч. @movie.Minutes минут (@(movie.Duration / 60) минут) </td>
                    }
                    <td>@movie.StartsAt.ToShortDateString()</td>
                    <td>@movie.EndsAt.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-info" asp-controller="Movies" asp-action="EditMovie" asp-route-id="@movie.Id">Изменить</a>
                    </td>
                </tr>                
            }
        }
    </tbody>
</table>
<div id="footer">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="/Movies/Movies?term=@Model.Term&CurrentPage=@(Model.CurrentPage-1)" aria-label="Previous">&laquo;</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="/Movies/Movies?term=@Model.Term&CurrentPage=@Model.CurrentPage">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="/Movies/Movies?term=@Model.Term&CurrentPage=@i">@i</a></li>
            }
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="/Movies/Movies?term=@Model.Term&CurrentPage=@(Model.CurrentPage+1)" aria-label="Next">&raquo;</a>
            </li>
        }
    </ul>
</div>
</main>